
body {
    width: 1440px;
    margin: 0 auto;
}

header{
    height: 130px;
}
div.flex-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
img.logo{
    box-sizing: content-box;
    width: 443px;
    height: 80px;
    margin-left: 60px;
    padding-top:  36px; 
}
nav {
    display: block;
    padding-right: 70px;
    margin-top: 40px;
}
nav ul.navbar-list {
    display: flex;
    list-style: none;
    flex-direction: row-reverse;
}
ul  li{
    display: inline-block;
    list-style: none;
    margin-left: 30px;
}
ul li a{
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #6c6c6c;
    text-decoration: none;
}
ul li a:hover{
    color: #d7ac41;
    text-decoration: none;
}
div.title-div{
    background-image: url(../imgs/top-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 782px;
}
div.title-div p.title{
    font-size: 80px;
    font-weight: 600;
    letter-spacing: 10px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
div.title-div p.subtitle{
    font-size: 24px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
div.about{
    background-image: url(../imgs/about-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 754px;  
}
div.about img{
    margin: 100px 660px 40px 660px;
    width: 120px;
    height: 120px;
}
div.about div.context{
    margin: 0 333px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.62;
}
div.about div.context p{
    margin-bottom: 0;
}
div.about div.context p.firstp strong{
    font-size: 24px;
    font-weight: 600;
}
div.about div.context div>hr{
    width: 62px;
    border: solid 1px #d7ac41;
    margin: 40px auto;
}
div.about div.context p.lastp{
    margin-bottom: 100px;
}
div.service{
    background-image: url(../imgs/service-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 667px;
}
div.service hr,div.team div hr{
    width: 62px;
    border: solid 1px #d7ac41;
    margin-top:100px;
}
div.service div p.service-title,div.team div p.team-title{
    font-size: 50px;
    font-weight: 600;
    color: #4a494b;
    margin-bottom: 40px;
}
div.service div div.service-content {
    padding:0 140px;

}
div.service div div.service-content div.row p{
    font-size: 16px;
    color: #6c6c6c;
    background-color: #ffffff;
    text-align: center;
    justify-content: center;
    width: 270px ;
    height: 60px;
    line-height: 60px;
    margin: 15px 10px;
    opacity: 0.8;
}
div.team div.members{
    margin: 0px 125px;
}
div.team div.member{
    height: 400px;
    width: 570px;
}
div.team div.profile{
    width: 300px;
    font-size: 16px;
    font-weight: 300;
    padding-left: 30px;
    margin-right:15px; 
    background-color: #f6f7f8;
}
div.team div.member p.name{
    font-size: 50px;
    font-weight: 600;
}
div.team div.member div.bra{
    padding-top: 18px;
}
div.team div.member div.brb{
    padding-top: 16px;
}
div.team div.member div.brc{
    padding-top: 20px;
}
div.team div button{
    height: 60px;
    width: 270px;
    background-color: #fff;
    color: #d7ac41;
    border: solid 1px #d7ac41;
    margin: 60px 585px 100px 585px;
}
div.contact{
    background-image: url(../imgs/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 437px;
    padding-left: 135px;
    color: #4a494b;
    font-size: 16px;
    font-weight: 300;
}
div.contact hr{
    width: 62px;
    border: solid 1px #d7ac41;
    margin-top: 100px;
    margin-left: 0px;
    margin-bottom: 0px;
}
div.contact p.contact-title{
    font-size: 50px;
    font-weight: 600;
    margin: 25px auto 40px auto;
}
div.contact div.email{
    margin-right: 110px;
}
div.contact div.email>p{
    margin-bottom: 20px;
}
div.contact div.addteltime{
    margin-bottom: 100px;
}
footer{
    height: 48px;
    background-color: #2b2c2c;
}
footer p{
    margin: 0;
}
footer a{
    line-height: 48px;
    color: #ffffff;
    text-decoration: none;
    margin: 0 auto;
}
footer a:hover{
    text-decoration: none;
    color: #ffffff;
}
